/* Global */
:root {
  --main: #E3B000;
  --second: #606060;
  --black: black;
}

.color {
  color: var(--main);
}
.bold {
  color: black;
  font-weight: bold;
}
.active-border {
  border: 2px solid var(--main) !important;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}

/* Main */
.main-container {
  margin: 0 auto;
  padding: 30px 60px !important;
  font-family: 'VazirFD';
  color: var(--second);
  direction: rtl;
  line-height: 1.8;
  max-width: 1440px;
}
.main-container p {
  text-align: justify, right;
}
.main-container strong {
  color: var(--black);
}

.card-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  height: 80vh;
}
.card-empty h2 {
  margin-top: -2rem;
}
.card-empty img {
  width: 280px;
}

.card-top {
  box-sizing: border-box;
  width: 50%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.card-top div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.card-top div span {
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin-bottom: 2px;
  border-radius: 12px;
}
.card-top div img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.card-table {
  width: 100%;
  box-sizing: border-box;
}

.card-table thead {
  color: #606060;
  text-align: right;
}
.card-table thead tr th {
  padding: 24px 8px;
  font-weight: normal;
  font-size: 16px;
}

.card-product-info {
  position: relative;
  margin-top: 16px;
}
.delete-card-item {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #656565;
  border-radius: 35px;
  padding: 10px;
  cursor: pointer;
}
.delete-card-item img {
  width: 24px;
  height: 24px;
}
.card-product-info section {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 16px;
}
.card-product-info section img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.cpi-item ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  opacity: 0.5;
}
.cpi-item ul li {
  padding-left: 12px;
  border-left: 1px solid #d5d5d5;
}
.cpi-item ul li:last-of-type {
  padding-left: 0;
  border-left: 0px solid;
}
.cpi-item p {
  opacity: 0.5;
}

.card-product-price {
  text-align: center;
}
.card-product-price .cpp-price.is-off-price {
  position: relative;
  opacity: 0.5;
}
.card-product-price .cpp-price.is-off-price::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #606060;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.cpp-off-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  background-color: rgba(227, 176, 0, 0.22);
  margin-top: 16px;
  padding: 2px 24px;
  border-radius: 12px;
  line-height: 1;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.quantity-control input {
  all: unset;
  width: 30px;
  padding-right: 15px;
  height: auto;
  text-align: center;
  appearance: none;
}
.quantity-control button {
  all: unset;
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  border-radius: 12px;
  line-height: 0;
  cursor: pointer;
  font-size: 24px;
  width: 38px;
  text-align: center;
  box-sizing: border-box;
  height: 38px;
}

.card-add-off {
  border-left: 1px solid #a0a0a0;
  margin-left: 16px;
}
.card-add-off button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 24px;
  padding: 4px 24px;
  cursor: pointer;
  border: 2px solid var(--main);
  margin-bottom: 16px;
}
.card-add-off button img {
  width: 28px;
  height: 28px;
}
.show-off-input {
  width: 100%;
  margin: 0 auto;
}
.show-off-input input[type="text"] {
  all: unset;
  background-color: #eaeaea;
  padding: 12px 24px;
  color: black;
  border-radius: 0 12px 12px 0;
}
.show-off-input input[type="submit"] {
  all: unset;
  background-color: var(--main);
  padding: 12px 24px;
  color: black;
  border-radius: 12px 0 0 12px;
  cursor: pointer;
}

.card-total-price div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ctp-order-price,
.ctp-order-ship {
  opacity: 0.5;
}

.card-add-off .card-alert {
  width: 420px;
}

.confirm-card {
  all: unset;
  width: 50%;
  display: block;
  margin: 16px auto;
  text-align: center;
  background-color: var(--main);
  color: white;
  border-radius: 24px;
  padding: 16px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.confirm-card:hover {
  filter: brightness(0.95);
}

/* Address part */
.card-address {
  width: 80%;
  color: black;
  margin: 16px auto;
}
.card-address-title {
  width: min-content;
  padding: 12px 36px;
  border-radius: 12px;
  background-color: rgba(227, 176, 0, 0.22);
  color: var(--main);
  font-size: 16px;
  font-weight: bold;
  text-wrap: nowrap;
  text-align: center;
  margin: 0 auto;
  line-height: 0;
}
.card-address-from input {
  all: unset;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid #a0a0a0;
  color: black;
  box-sizing: border-box;
  text-align: right;
  width: 100%;
}
.caf-grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.card-address-from textarea {
  all: unset;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid #a0a0a0;
  color: black;
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  margin-top: 24px;
}
.caf-confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
}

.caf-confirm input {
  width: 40%;
  cursor: pointer;
  padding: 8px 48px;
  text-align: center;
  background-color: var(--main);
  color: white;
  border-radius: 24px;
  font-weight: bold;
  font-size: 22px;
  transition: all 0.2s ease;
  border: none;
}
.caf-confirm input:hover {
  filter: brightness(0.95);
}

/* Checkout */
.checkout-content {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  color: black;
  gap: 24px;
  align-items: start;
}

.chose-to-pay {
  border: 1px solid #c3c3c3;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
}
.chose-to-pay h3 {
  font-size: 22px;
  margin-block: 8px 24px;
}

.chose-to-pay form input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  border: 2px solid var(--main);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.chose-to-pay form input[type="radio"]:checked {
  background-color: var(--main);
  border-color: var(--main);
}
.chose-to-pay form input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.chose-to-pay .checkout-pay-item {
  padding: 18px 8px;
  border-bottom: 1px solid #c3c3c3;
}
.chose-to-pay .checkout-pay-item:last-of-type {
  border-bottom: 0px solid;
}

.chose-to-pay .checkout-pay-item,
.chose-to-pay .checkout-pay-item label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.chose-to-pay-info {
  margin-top: 24px;
  padding-inline: 24px;
}
.chose-to-pay-info a {
  color: black;
}

.checkout-info-top {
  background-color: #F7F7F7;
  border-radius: 24px;
  padding: 16px;
  margin-bottom: 24px;
}

.checkout-last-prices {
  border: 1px solid #c3c3c3;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.checkout-last-prices div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.clpp-price-to-pay {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #c3c3c3;
}

.clp-discount-submit {
  width: 80%;
  cursor: pointer;
  padding: 8px 48px;
  text-align: center;
  background-color: var(--main);
  color: white;
  border-radius: 24px;
  font-weight: bold;
  font-size: 22px;
  transition: all 0.2s ease;
  border: none;
  margin: 0 auto;
  display: block;
}
.clp-discount-submit:hover {
  filter: brightness(0.95);
}
.checkout-last-prices div p,
.checkout-last-prices div span {
  margin: 8px 0;
}

@media screen and (max-width: 1024px) {
  .card-table thead {
    display: none;
  }
  .card-table tbody tr {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .card-table {
    display: grid;
  }

  .card-table tfoot tr {
    display: grid;
    margin-top: 24px;
    grid-template-columns: 1fr;
  }
  .card-add-off {
    margin-left: 0;
    border-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .card-product-price .cpp-price {
    font-size: 20px;
  }
  .card-item-final-price {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: bold;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
  }
  .card-add-off button {
    border-radius: 45px;
  }
  .card-add-off .card-alert {
    opacity: 0.5;
    margin-bottom: 24px;
    width: 100%;
  }
  .card-total-price div {
    border-top: 1px solid #e7e7e7;
  }
  
  .card-product-price .cpp-price.is-off-price::after {
    width: 50%;
  }
}

@media screen and (max-width: 767px) { 
  .main-container {
    padding: 30px 40px !important;
  }
  .card-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .card-top div img {
    width: 30px;
    height: 30px;
  }
  .card-top div span {
    padding: 12px;
  }
  .card-empty img {
    width: 120px;
  }
  .card-empty h2 {
    margin-top: 0;
  }

  .quantity-control {
    border: 1px solid #a0a0a0;
    border-radius: 12px;
    width: min-content;
    margin: 0 auto;
  }
  .quantity-control button {
    border: 0px solid;
  }
  .card-product-info section {
    grid-template-columns: 1fr;
  }
  .card-product-info section img {
    width: 120px;
    text-align: right;
  }
  .show-off-input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .show-off-input input {
    border-radius: 24px !important;
    margin-bottom: 12px !important;
  }

  /* Address part */
  .caf-grid-two {
    grid-template-columns: 1fr;
  }
  .caf-confirm {
    flex-direction: column;
    gap: 2px;
  }
  .caf-confirm input {
    width: 100%;
    background-color: var(--main) !important;
  }
  .card-address {
    width: 100%;
  }
  .card-address-from input,
  .card-address-from textarea {
    border-radius: 12px;
    border: 0px solid #a0a0a0;
    background: rgba(246, 246, 246, 0.84);
  }
  .card-address-title {
    font-size: 14px;
  }

  /* Checkout */
  .checkout-content {
    grid-template-columns: 1fr;
  }
  .chose-to-pay {
    border: 0px solid;
    padding: 24px 0;
  }
  .checkout-info-top {
    border-radius: 12px;
  }
  .checkout-last-prices {
    border: 0px solid;
    padding: 24px 0;
    margin-bottom: 0;
  }
  .clp-discount-submit {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
  }
}