.top-slider {
    padding: 0 40px;
    max-width: 1500px;
    box-sizing: border-box;
    width: 100vw;
    margin: auto;
}
.order-process {
    padding: 60px 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;

    justify-items: center;
    max-width: 1500px;
    margin: auto;
}
.order-process.items {
}
.order-process .items .img-icon {
    position: relative;
    width: max-content;
    margin: auto;
    width: 67px;
    height: 67px;
    
}

.order-process .items .img-icon:hover span {
    left: 0px;
}
.order-process .items .img-icon span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 15px;
    bottom: 5px;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    background: #e3b000;
    opacity: 0.3;
    z-index: -1;
}
.order-process .items .img-icon img {
    width: 100%;
    height: 100%;
}
.order-process .items .title {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    display: block;
}
.order-process .items .description {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #606060;
}
.categories-slider {
    padding: 0 40px;
    max-width: 1500px;
    box-sizing: border-box;
    width: 100vw;
    margin: auto;
}
.categories-slider .categories-slider-title {
    display: none;
}
.amazing-discount-slider {
    width: 100vw;
    padding:  00px 40px 20px 40px;
    margin: auto;
    max-width: 1500px;
    box-sizing: border-box;
}
.amazing-discount-slider .amazing-discount-slider-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 2vmax 0;
}
.amazing-discount-slider .amazing-discount-slider-title span {
    font-family: "Snapp";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.8rem);
    line-height: 50px;
    text-align: right;
    color: #e3b000;
    


}
.amazing-discount-slider .amazing-discount-slider-title img{
    width: 3vmax;
}
.brands{
    background: rgba(96, 96, 96, 0.05);
    box-sizing: border-box;
    padding: 30px;
    margin: 10px;
}

@media (max-width: 1024px) {
    .top-slider {
        padding: 0px;
    }
    .order-process {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 40px 20px;
    }
    .order-process .items .img-icon {
        height: 40px;
        width: 40px;
    }
    .order-process .items .title {
        font-size: 13px;
        line-height: 18px;
    }
    .order-process .items .description {
        display: none;
    }
    .categories-slider {
        padding: 0;
        background-color: #f6f6f6;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .categories-slider .categories-slider-title {
        width: 100vw;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .categories-slider .categories-slider-title span {
        font-family: "IRANSans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;

        color: #000000;
    }
    .categories-slider .categories-slider-title a {
        text-decoration: none;
        font-family: "IRANSans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        text-align: center;

        color: #e3b000;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .brands{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
