.auth-continer {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: -10;

    transition: background-color 0.3s ease;
}
.open-auth-continer {
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 999;
}
.auth-model {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    max-width: 700px;
    min-width: 400px;
    aspect-ratio: 1069 / 701;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 150%;
    transition: transform 0.3s ease, top 0.3s ease;
}
.open-auth-model {
    top: 50%;
}
.auth-model .close-icon {
    all: unset;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

.auth-model .close-icon::before,
.auth-model .close-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: rgb(97, 97, 97);
    transform-origin: center;
    transition: all 0.3s ease;
}

.auth-model .close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.auth-model .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.auth-model .close-icon:hover::before,
.auth-model .close-icon:hover::after {
    background-color: black;
}

.tab-active {
    opacity: 1 !important;
    z-index: 10 !important;
    position: relative !important;
}

.tab-active.body {
    overflow: hidden;
}
/* Send Number Style */
#send-number {
    opacity: 0;
    z-index: 9;
    position: absolute;
}
.auth-model .auth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.auth-model .auth > span {
    font-family: "VazirFD";
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

.auth-model .auth p {
    font-family: "VazirFD";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
    color: #606060;
}

.auth-model .phone-input-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 300 / 60;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
    position: relative;
}
.auth-model .phone-input-container img {
    height: 45%;
    width: auto;
}
.auth-model .phone-input-container input {
    all: unset;
    width: 100%;
    font-family: "VazirFD";
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
}
.auth-model .phone-input-container input::placeholder {
    font-family: "VazirFD";
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.2);
}
.auth-model .error-border {
    border-color: #ff4d54 !important;
}
.auth-model .error-message {
    position: absolute;
    font-family: "VazirFD";
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 0.9rem;
    display: none;
    color: #ff4d54;
    top: 108%;
    right: 0;
    direction: rtl;
}
.auth-model .error-message.show {
    display: block;
}
.auth-model .button {
    all: unset;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 300 / 60;
    background: #e3b000;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#validation-code {
    opacity: 0;
    z-index: 9;
    position: absolute;
}
/* فقط برای inputهای داخل div.inputs */
.inputs input.number {
    text-align: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    font-family: "IranSans", sans-serif;
    font-size: 0.9rem;
    margin-right: 0.2rem;
    color: #333f51;
    outline: none;
}

/*  حالت focus فقط برای inputهای کد تایید */
.inputs input.number:focus {
    border-color: #e6e9ef;
    background-color: #e6e9ef;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* وقتی فیلد پر شده است */
.inputs input.number.full {
    background-color: #eff3f8;
    border-color: #eff3f8;
}

/* فقط برای مجموعه کد تایید */
.inputs {
    direction: ltr;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
    position: relative;
}

/* عنوان‌ها */
#validation-code h1 {
    font-size: 1.3rem;
    font-family: "IranSansLight", sans-serif;
}

#validation-code p {
    font-size: 0.9rem;
    font-family: "IranSans", sans-serif;
}

#validation-code .edit-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
}
#validation-code .phone-preview {
    font-family: "VazirMediumFD";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

#validation-code .button-edit-number {
    all: unset;

    font-family: "VazirMediumFD";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 39px;

    color: #e3b000;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

@media (max-width: 820px) {
    .auth {
        align-items: start;
        max-width: 500px;
        border-radius: 0;
    }
    .auth span,
    .auth p {
        text-align: right;
    }
    .auth-model {
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        padding: 25px;
        max-width: none;
        min-width: 0px;
    }
    .phone-input-container {
        max-width: 500px;
        max-height: 55px;
    }
    .next-button {
        max-width: 500px;
        max-height: 55px;
    }
}
